.topHeader {
  background-color: rgb(38,63,68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
}

.leftHeaderItem {
  margin-left: 20px;
}

.rightHeaderItem {
  margin-right: 20px;
  display: flex;
  gap: 30px;
}


