.productListCompare {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productListCompareInnerWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  min-height: 200px;
  min-width: 250px;
}

.productListItemCompare {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  width: 130px;
  max-height: 200px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  paddding-top: 35px;
  padding-bottom: 70px;
  img {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  h1, p {
    margin-left: 10px;
  }
  h1 {
    font-size: 15px;
  }
}