.productList {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}

.productListItem {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  cursor: pointer;
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.contentDisplay {
  display: flex;
  justify-content: center;
}