.productList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productListItem {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80px;
  height: 200px;
  margin: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 10px;
}

.contentDisplay {
  display: flex;
  justify-content: center;
}